label + * {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
#form-buttons{
  text-align: right;
}
#form-header > label{
  width: 9%;
  display: inline-block;
  text-align: right;
  color: grey;
}
#form-header > h2{
  width: 90%;
  display: inline-block;
}

.v--modal-overlay{
  background: rgba(0,0,0, 0.7);
}
.v--modal-box{
  border-radius: 5%;
  padding: 2%;
}

@media (max-width: 500px) {
  .v--modal-box {
    width: auto !important;
  }

  .v--modal-box * {
    font-size: 1rem;
  }

  .v--modal-box h2 {
    font-size: 1.5rem;
  }
}
